nav {
    opacity: 0;
	animation-name: fade-in-element;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

main {
    opacity: 0;
	animation-name: fade-in-element;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #0c74b9;
}

@keyframes fade-in-element {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}